<div id="" class="post card" postHash={{this.postHash}} author={{this.userId}}> <!--BUILD ID BASED ON POST ID/HASH; SINGLE POST-CARD BLOCK - REPETITIVE-->
    <!--POST HEADER: CONTAINS POSTEE INFORMATION-->
    <div class="post_header">
        <a href="/user/{{this.user.username}}">
            <span class="post_user">
                <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  src={{this.user.profilepic}} class="postdp profilepic" alt="Profile Picture"><p class="username">{{this.user.username}}</p> <!--BUILD IMG SRC AND P<USERNAME> TEXT BASED ON POST USER DATA-->
            </span>
        </a>
    </div>
    <!--POST CONTENT: ALL DATA ABOUT THE POST-->
    <div class="post_content"> <!--SINGLE POST-CONTENT BLOCK - DON'T REPEAT-->
        <div class="post_description">
            <p class="post_description_text"> <!--BUILD TEXT BASED ON POST DESCRIPTION-->
                {{{convertEscapeChar this.description}}}
            </p>
        </div>
        <div class="post_list">
            <table class="post_table">
                <tr><a href="{{this.link}}">{{this.label}}</a></tr><!--BUILD TEXT AND A'S HREF BASED ON POST LINK DATA-->
                <tr>
                    <td>Category:</td>
                    <td class="item_category_link"><a href="/search/''.{{this.category}}">{{this.category}}</a></td> <!--BUILD TEXT AND A'S HREF BASED ON POST CATEGORY DATA-->
                </tr>
            </table>
        </div>
        <!--Added fix for img if it is not available: https://stackoverflow.com/a/13118956-->
        <div class="post_image_div"><img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy' src={{this.imgurl}} class="post_image" alt="Post Picture" ></div> <!--BUILD SRC VALUE AT JS BASED ON POST IMG DATA/DIRECTORY-->
    </div>

    <!-- POST FOOTER: CONTAINS CONTROLS FOR USER INTERACTION TO POST-->
    <div class="post_footer">
        <div class="likes">
            <p class="likecounter" id='likeCounter{{this.postHash}}'>{{{likes this.likes}}}: {{this.likes}}</p>
            <p class="post_timedate">Posted: {{this.datetime}}</p>
            {{#if this.editdatetime}}
            <p class="post_timedate">Edited: {{this.editdatetime}}</p>
            {{/if}}
        </div>
        <form class="interact" id='interact#{{this.postHash}}' name="interact#{{this.postHash}}" >
            <input type="button" class="button" id="like-button{{this.postHash}}" value={{{btnLiked this.postHash}}} onclick="submitLike('{{this.postHash}}')"> <!--https://stackoverflow.com/a/13645315-->
            <input type="button" class="button" id="share-button{{this.postHash}}" value="Share" onclick="showShare('{{this.postHash}}')">
            <input type="button" class="button" id="report-button{{this.postHash}}" value="Report" onclick="submitReport('{{this.postHash}}','{{this.userId}}')">
            <input type="button" class="button" id="edit-button{{this.postHash}}" value="Edit" onclick="editForward('{{this.postHash}}')" style="display:{{{editable this.userId}}}">
            <input type="text" id="comment#{{this.postHash}}" name="comment#{{this.postHash}}" class="textfield comment_textfield">
            <input type="button" class="button" value="Comment" onclick="submitComment('{{this.postHash}}')"/>
        </form>
       
        <div class="comment_list" id="comments_div{{this.postHash}}">
            <label id="comments_label{{this.postHash}}">Comments:</label>
            {{#if comments}}
                {{#comments}}
                <div class="comment_div"> <!--SINGLE COMMENT BLOCK - REPETITIVE-->
                    <a href="/user/{{username}}" class="username">{{username}}</a><!--BUILD HREF VALUE AT JS BASED ON COMMENT OBJECT DATA--->
                    <p>{{text}}</p> <!--BUILD TEXT VALUE AT JS BASED ON COMMENT OBJECT DATA--->
                    <p class="comment-timedate">{{datetime}}</p><!--BUILD TEXT VALUE AT JS BASED ON COMMENT DATETIME DATA--->
                </div>
                {{/comments}}
            {{/if}}
        </div>
    </div>
</div>