<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/profile.css">
<script src="/js/banner.js"></script>
<script src="/js/post.js"></script>

<header class="card brand_banner">
    <div class="banner_left">
        <p class="banner_title"><a id="logo-btn" href="/">Budol Finds</a></p>
        <nav class="menu">
            <button id="home-btn" class="menu_button">Home</button>
            <button id="account-settings-btn" class="menu_button">Settings</button>
            <button id="logout-btn" class="menu_button">Logout</button>
        </nav>
    </div>
    <div class="banner_right">
        <a id="userbutton"><img id="profile-pic" class="profilepic" src={{#if currentUser.profilepic}}{{currentUser.profilepic}}{{else}}"../img/default/default_dp.png"{{/if}}></a>
    </div>
</header>

<div class="card edit_post">
    <form name="postForm" id="post-form" class="edit_post_form" author={{currentPost.author}} enctype="multipart/form-data">
        <label>Post Content:</label>
        <textarea name="post-content" id="post-content" class="edit_post_description">{{currentPost.description}}</textarea>
        <label>Category:</label>
        {{>post-category}}
        <label>Link Label:</label>
        <input id="post-label" name="post-label" type="text" class="textfield" value="{{currentPost.label}}">
        <label>Link:</label>
        <input id="post-link" name="post-link" type="text" class="textfield" value="{{currentPost.link}}">
        <label>Image:</label>
        <img id="post-image" class="edit_post_image" src='{{#if currentPost.imgurl}}{{currentPost.imgurl}}{{else}}../img/default/imagenotfound.png{{/if}}' alt="">
        <input id="post-img-select" name="post-img-select" type="file" accept="image/*"/>
        <div class="interact">
            <input id="save-post-btn" type="button" class="button" value="Save">
            <input id="delete-post-btn" type="button" class="button" value="Delete">
            <input id="cancel-post-btn" type="button" class="button" value="Cancel">
        </div>
    </form>
</div>

<script>
    currentPost = {{{currentPostJSON}}}
</script>