<link rel="stylesheet" href="/css/signup.css">

<script src="/js/settings.js"></script>

<header id="" class="card brand_banner wsection">
    <h1 class="banner_title"><a href="/home">Budol Finds</a></h1>
    <h2 class="section_title">Profile Details</h2>
</header>

<div class="signup card">
    <form name="profileform" id="profileform" class="profileform" enctype="multipart/form-data">
        <span>
            <label>Profile Pic:</label>
            <span class="errorText" id="error-profilepic-select"></span>
        </span>
        <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  name="profilepic" id="profilepic" src='{{#if currentUser.profilepic}}{{currentUser.profilepic}}{{else}}"../img/default/default_dp.webp"{{/if}}' class="profilepic" alt="Profile Picture">
        <input name="profilepic-select" id="profilepic-select" type="file" accept="image/*" alt="Profile Picture" required> <!--Derived from https://stackoverflow.com/a/3381621 and https://www.w3schools.com/tags/att_input_accept.asp-->
        <span>
            <label>Username*:</label>
            <span class="errorText" id="error-username"></span>
        </span>
        <input name="username" id="username" type="text" class="textfield" maxlength="50" value='{{currentUser.username}}' placeholder="Username"/>
        <span> 
            <label>Current Password*:</label>
            <span class="errorText" id="error-password_current"></span>
        </span>
        <input name="password_current" id="password_current" type="password" class="textfield" maxlength="50" placeholder="Current Password"/>
        <span> 
            <label>New Password*:</label>
            <span class="errorText" id="error-password_a"></span>
        </span>
        <input name="password_a" id="password_a" type="password" class="textfield" maxlength="50" placeholder="New Password (Optional)"/>
        <span>
            <label>Repeat New Password*:</label>
            <span class="errorText" id="error-password_b"></span>
        </span>
        <input name="password_b" id="password_b" type="password" class="textfield" maxlength="50" placeholder="Repeat New Password"/>
        <span>
            <label>Email*:</label>
            <span class="errorText" id="error-email"></span>
        </span>
        <input name="email" id="email" type="email" class="textfield" maxlength="50" value='{{currentUser.email}}' placeholder="example@mail.com"/>
        <span>
            <label>First Name*:</label>
            <span class="errorText" id="error-fname"></span>
        </span>
        <input name="fname" id="fname" type="text" class="textfield" maxlength="50" value='{{currentUser.fname}}' placeholder="First Name"/>
        <span>
            <label>Middle Name:</label>
            <span class="errorText" id="error-mname"></span>
        </span>
        <input name="mname" id="mname" type="text" class="textfield" maxlength="50" value='{{currentUser.mname}}' placeholder="Middle Name"/>
        <span>
            <label>Last Name*:</label>
            <span class="errorText" id="error-lname"></span>
        </span>
        <input name="lname" id="lname" type="text" class="textfield" maxlength="50" value='{{currentUser.lname}}' placeholder="Last Name"/>
        <span>
            <label>Gender*:</label>
            <span class="errorText" id="error-gender"></span>
        </span>
        <select name="gender" id="gender" class="gender" value='{{currentUser.gender}}'>
            <option value=""></option>
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="LGBTQ">LGBTQ</option>
        </select>
        <span>
            <label>Bio:</label>
            <span class="errorText" id="error-bio"></span>
        </span>
        <textarea id="bio" name="bio" placeholder="Tell us about yourself">{{currentUser.bio}}</textarea>
        <label style="text-align:right;" id="bio-counter"></label>
        <input type="submit" value="Save" id="save-btn" class="button" />
        <input type="button" value="Cancel" id="cancel-btn" class="button"/>
        <input type="button" value="Delete Account" id="delete-btn" class="button"/>
        </div>
    </form>
</div>

<script>
    currentUser = {{{currentUserJSON}}};
</script>
